<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    {% block content %}

        <a href="/api/add_employee"><button>Добавить сотрудника</button></a>
        <div>
            <a href="/api/download_excel"><button>Выгрузить базу данных в xlsx</button></a>
        </div>
        
        <h2>Отфильтровать поиск по сотрудникам</h2>
        <form action="/api/search" target="_blank">
            <div>
                <div>
                    <label>Филиал</label>
                    <input type="text" class="form-control search-field"
                    name="branch_office_title" placeholder="Введите название филиала">
                </div>
                <div>
                    <label>Должность</label>
                    <input type="text" class="form-control search-field"
                    name="position_title" placeholder="Введите искомую должность">
                </div>
            </div>
            <div class="button1">
                <button class="btn btn-success" type="submit" id="submit_btn">
                    Поиск (результат в новой вкладке)
                </button>
            </div>
        </form>
        {% for emp in page_obj %}
        <div class="sekta">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ emp.fio }} ({{ emp.position }}, {{ emp.branch_office }})</h3> <a href="/api/change_employee/{{ emp.id }}"><button>Изменить</button></a> <a href="/api/delete_employee?emp={{ emp.id }}"><button>Удалить</button></a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endblock %}
</body>
</html>